<h2>EX1</h2>
<p class="ex1">My name Quoc Tuan</p>

<hr />

<h2>EX2</h2>
<div class="ex2">
    <div class="ex21">
        <b>CSS Exercies</b>
    </div>
    <p class="pex2">This is a paragraph</p>
</div>

<hr />

<h2>EX3</h2>
<div class="ex3">
    <div class="ex31">
        <b>CSS Exercies</b>
    </div>
    <p class="pex3">This is a paragraph</p>
</div>
<hr />

<h2>EX4</h2>
<div class="ex4">
    <div class="ex41">
        <b>CSS Exercies</b>
    </div>
    <p class="pex4">This is a paragraph</p>
</div>

<hr />


<h2>EX5</h2>
<div class="ex5">
    <div class="ex51">
        <b>CSS Exercies</b>
    </div>
    <p class="pex5">This is a paragraph</p>
</div>


<hr />


<h2>EX6</h2>
<div class="ex6">
    <div class="ex61">
        <b>CSS Exercies</b>
    </div>
    <p class="pex6">This is a paragraph</p>
</div>
<hr />

<h2>EX7</h2>
<div class="ex7">
    <div class="ex71">
        <b>
            Css is a language that describes the style of an HTML document. CSS describes how HTML element should be
            dissplayed. This in tutorial will teach you CSS from basic to advanced
        </b>
    </div>
</div>

<hr />

<h2>EX8</h2>
<div class="ex7">
    <div class="ex81">
        <a style="color: purple; box-shadow: 0 1px purple; ">Link 1</a>
        <span>&emsp;|&emsp;</span>
        <a style="color: red;">Link 2</a>
        <span>&emsp;|&emsp;</span>
        <a style="background-color:yellow">Link 3</a>
        <span>&emsp;|&emsp;</span>
        <a style="background-color:pink">Link 4</a>
    </div>

</div>


<hr />
<h2>EX9</h2>
<div class="ex9">
    <div class="ex91">
        <ul>
            <li>CSS</li>
            <li>HTML</li>
            <li>JQUERY</li>
        </ul>
    </div>
    <div class="ex91">
        <ul>
            <li>CSS</li>
            <li>JQUERY</li>
        </ul>
    </div>
    <div class="ex92">
        <ul style="padding-top:20px;">
            <li>CSS</li>
            <li>JQUERY</li>
        </ul>
    </div>
    <div class="ex93"><p>CSS HTML JQUERY</p></div>
</div>




<hr />
<h2>EX10</h2>
<div class="ex10">
    <div class="ex101">Using position Property</div>
</div>


<div class="ex102">
    <div class="ex103">sadsadsadaddddddddddddddddddddddddddddddddddddddddddddddsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasa</div>
</div>

<div class="ex106">
        <div class="ex104">
            <p>Day la Tuan</p>
            <div class="ex105">Day la Tuan 2</div>
        </div>
</div>

<hr />
<h2>EX11</h2>
<div class="ex106">
    <p style="font-size:20px">
        THỜI SỰ

        Đà Nẵng đòi VEC khắc phục hư hỏng tại nút giao với đường cao tốc
        Ngọc Tân Thứ năm, 14/4/2022 17:33 (GMT+7)Sau khi địa phương bàn giao đoạn quốc lộ 14B giáp cao tốc Đà Nẵng - Quảng Ngãi cho VEC quản lý, mặt đường bị hư hỏng nghiêm trọng và tiềm ẩn nguy cơ mất an toàn giao thông.
        Sở GTVT Đà Nẵng vừa có công văn đề nghị Tổng công ty Đầu tư phát triển đường cao tốc Việt Nam (VEC) cung cấp kế hoạch thi công sửa chữa mặt đường quốc lộ 14B đoạn nối với cao tốc Đà Nẵng - Quảng Ngãi.

        Vị trí mặt đường bị hư hỏng từ Km23+126 đến Km24+825. Đây là phạm vi mà Sở GTVT Đà Nẵng đã bàn giao cho Ban QLDA đường cao tốc Đà Nẵng - Quảng Ngãi để thi công nút giao Túy Loan.
    </p>
    <div class="ex111">

    </div>
</div>
<div class="ex106">
    <div class="ex111">
        <p style="font-size:50px">
            THỜI SỰ

            Đà Nẵng đòi VEC khắc phục hư hỏng tại nút giao với đường cao tốc
            Ngọc Tân Thứ năm, 14/4/2022 17:33 (GMT+7)Sau khi địa phương bàn giao đoạn quốc lộ 14B giáp cao tốc Đà Nẵng - Quảng Ngãi cho VEC quản lý, mặt đường bị hư hỏng nghiêm trọng và tiềm ẩn nguy cơ mất an toàn giao thông.
            Sở GTVT Đà Nẵng vừa có công văn đề nghị Tổng công ty Đầu tư phát triển đường cao tốc Việt Nam (VEC) cung cấp kế hoạch thi công sửa chữa mặt đường quốc lộ 14B đoạn nối với cao tốc Đà Nẵng - Quảng Ngãi.

            Vị trí mặt đường bị hư hỏng từ Km23+126 đến Km24+825. Đây là phạm vi mà Sở GTVT Đà Nẵng đã bàn giao cho Ban QLDA đường cao tốc Đà Nẵng - Quảng Ngãi để thi công nút giao Túy Loan.
        </p>
    </div>
</div>
